[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"

[packages]
matplotlib = "*"
pylint = "*"
tqdm = "*"
scikit-image = "*"
imutils = "*"
pandas = "*"
tensorflow = "*"
sklearn = "*"
opencv-contrib-python = "*"
opencv-python = "*"
ipykernel = "*"

[requires]
python_version = "3.7"
